@model Tomasos.Models.AdminViewModels.UserEditViewModel
@using Tomasos.Data
@inject IdentityContext IdentityContext

<h1>Users</h1>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Bonus Points</th>
        <th>Is Premium</th>
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.Name</td>
            <td>
                @user.BonusPoints
            </td>
            <td id="@user.UserId">
                @user.IsPremium
            </td>
            <td>
                <a data-ajax="true"
                   data-ajax-method="get"
                   data-ajax-mode="replace"
                   data-ajax-update="#@user.UserId"
                   asp-controller="Account"
                   asp-action="ChangePremium"
                   asp-route-id="@user.UserId">
                    Change Premium Status
                </a>
            </td>
        </tr>
    }
</table>



